<?xml version="1.0" encoding="UTF-8"?> 
<launch>
<param name="robot_description" command="cat '$(find legged_robot_sim)/urdf/monoped.urdf'"/> 
<arg name="x" default="0"/> 
<arg name="y" default="0"/> 
<arg name="z" default="0.5"/> 

<node name="monoped_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model monoped -x $(arg x) -y $(arg y) -z $(arg z)"/> 


</launch> 